*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Gabarito", sans-serif;
}
.navbar{
  padding: 10px;
  display: flex;
  justify-content:space-between;
  border-bottom: solid grey 1px;
  /* gap: 10px; */
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: white;
}
.navrbar__s1__title{
  color: #A435F0;
}
.navrbar__s2{
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navrbar__s2 input{
  border: none;
  width: 100%;
}
.navrbar__s2 input:focus{
  outline: none;
}
.navrbar__s3{
  padding: 10px;
  display: flex;
  gap: 20px; 
}
.navbar__s4{
  display: none;
}
.mylearnings{
  position: relative;
  cursor: pointer;
}
.mylearnings__popup{
  position: absolute;
  top: 150%;
  right: 0;
  background-color: white;
  border: solid black 1px;
  border-radius: 10px;
  width: 150px;
  padding: 5px;
  display: none;
}
.mylearnings:hover .mylearnings__popup{
  display: block;
}
.categories{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border-bottom: solid gray 1px;
  flex-wrap: wrap; /*not in the code*/
}
.categories p{
  background-color: #A435F0;
  color: white;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  border: solid #A435F0 1px;
}
.categories p:hover{
  transition: 1s;
  background-color: white;
  color: black;
  border: solid #A435F0 1px;
}
.sale-img img{
  width: 100%;
  position: relative;
  z-index: 1;
}
.sale-img__offer{
  z-index: 2;
  position: absolute;
  top: 200px;
  left: 100px;
  border: solid black 2px;
  width: 350px;
  padding: 10px;
  animation-name: zoom;
  animation-duration: 2s;
  background-color: bisque;
}
@keyframes zoom {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.recommended{
  padding: 10px;
}
.recommended__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.course-card{
  width: 280px;
  margin-top: 10px;
  padding: 10px;
  flex-grow: 1;
  margin: 10px;
  flex-basis: 20%;
}
.course-card img{
  width: 100%;
  height: 60%;
}
.course-card__bs{
  background-color: #fdd835;
  width: 80px;
  padding: 3px;
}
.topics{
  padding: 10px;
}
.topics__container{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-basis: 20%;
} 
.topics__container p{
  border: solid gray 1px;
  border-radius: 30px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 230px;
  text-align: center;
  /* width: 200px; */
}
.popular{
  margin: 10px;
}
.popular__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.footer__one{
  display: flex;
  gap:10px;
  
}
.footer__two{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.footer__one p{
  margin: 10px;
}
.footer__one p:hover{
 cursor: pointer;
}
.footer{
  padding: 30px;
  background-color: black;
  color: white;
}
.popular__container .course-card{
  margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width:800px) {
  body{
    font-size: 10px;
  }
}
@media screen and (max-width:600px) {
  .course-card{
    flex-basis: 40%;
  }
  .categories{
    display: none;
  }
  .sale-img__offer{
    width: 130px;
    top: 80px;
    left: 30px;
  }
  .navrbar__s2, .navrbar__s3{
    display: none;
  }
  .navbar__s4{
    display: block;
  }
}